body{
	font-family: "Comic Sans MS"
}

h1
{
	text-align: center;
}

p{
	background-color: grey;
	border-color: black;
	border-size: 10px;
	border-style: solid; 
	/*height: 150px;*/
	margin-right: auto;
	margin-left: auto;
	width: 90%;
	padding: 10px;

}

.row{
	width : 100%;
}

b{
	float:  right;
	background-color: pink;
	padding: 2px;
	border-color: black;
	border-size: 1px;
	border-style: solid; 
}
#Beef1{
	background-color:#b83547;
}
#Sushi1{
	background-color:#e6c87e;
}
/*********** Large Devices only *************/
@media (min-width: 992px)
{
	.col-lg-1,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-10,.col-lg-11,.col-lg-12
	{
		float: left;
		/*border : 1px solid green;*/
	}

	.col-lg-4{
		width : 33%;
	}
}

/*********** Medium Devices only *************/
@media (min-width: 768px) and  (max-width: 991px)
{
	.col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12{
		float: left;

	}
	.col-md-6{
		width:50%;
	}
	.col-md-12{
		width:100%;
	}
}
}